:host {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
}
  
.confirmation-card {
    max-width: 800px;
}
  
mat-card-title {
    text-align: center;
}
  
mat-card-content {
    padding-top: 25px;
    text-align: justify;
}

.logo {
    display: flex;
    font-size: 100px;
    width: 100px;
    justify-content: center;
    cursor: default;
    color: darkgreen;
    /* font-weight: 900; */
    /* stroke-width: 3.8; */
}

.logo-placement i {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.content {
    font-size: 20px;
}

.continue-block {
    display: inline; 
    padding-top: 18px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    text-align: center;
}

.continue-button {
    width: 50%;
    height: 30px; 
    line-height: inherit;
}