<mat-card class="mat-elevation-z4 signin-card">
  <div class="logo-placement">
    <i class="material-icons logo" (click)="onAdminData()">person</i>
  </div>
  <mat-card-title>Sign-In</mat-card-title>
  <form [formGroup]="formGroup" (ngSubmit)="onSignIn(formGroup.value)">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
      <mat-error *ngIf="formGroup.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="showPassword ? 'password' : 'text'" autocomplete="off">
      <span role="button" mat-icon-button matSuffix (click)="showPassword = !showPassword">
        <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </span>
      <mat-error *ngIf="formGroup.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>

    <div class="sign-in-button">
      <button class="square-button green-button" mat-raised-button>Sign-In</button>
    </div>

  </form>
  <div class="sign-up-block">
    <div>New to Book Publishing Company?</div>
    <div>
      <button mat-raised-button (click)="navigateToSignUp()" 
      class="square-button grey-button sign-up-button">Sign-Up</button>
    </div>
  </div>
</mat-card>
