:host {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item-1 {
  text-align: left;
}

.grid-item-2 > mat-card-content {
  justify-content: flex-end;
  color: darkred;
  margin-bottom: 0;
}

.remember-me {
  margin-top: auto;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: rgba(80, 80, 80);
}
form {
  padding-top: 10px;
}

.signin-card {
  min-width: 400px;
}

body {
    filter: blur(8px);
}

.mat-form-field {
    width: 100%;
    min-width: 200px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: left;
 }

.logo {
  display: flex;
  font-size: 100px;
  width: 100px;
  justify-content: center;
  cursor: pointer;
}

.logo-placement i {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.logo-placement i:hover {
 opacity: 0.8;
 color: rgb(0, 45, 0);
}

.sign-in-button {
  display: flex;
  justify-content: flex-end;
}

.forgot-password {
  text-align: end;
}

.sign-up-block{
  display: inline; 
  padding-top: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.sign-up-block > div{
  text-align: center;
 }

.sign-up-button {
  width: 50%;
  height: 30px; 
  line-height: inherit;
}

/* .square-green-button {
  background-color: green;
  color: #fff;
  border-radius: 3px;
  border-bottom: 2px solid #000 ;
  border-right: 2px solid #000 ;
} */

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end, 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
} */

