<mat-card class="mat-elevation-z4 confirmation-card">
    <mat-card-title>
        Confirm your email address
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h3>
            <p>
                We have sent an email with a confirmation link to your email address.
                In order to complete the sign-up process, please click the confirmation link.
            </p>
            <p>
                If you don't receive a confirmation email, please check your spam folder.
                Also, please verify that you entered a valid email address in our sign-up form.
            </p>
        </h3>
    </mat-card-content>
</mat-card>