:host {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
  }

.signin-card {
  max-width: 500px;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.mat-form-field {
    width: 100%;
    min-width: 200px;
  }

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: left;
 }

form {
  padding-top: 10px;
}

.logo{
  display: flex;
  font-size: 100px;
  width: 100px;
  justify-content: center;
  cursor: pointer;
}

.logo-placement i {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.logo-placement i:hover {
  opacity: 0.8;
  color: rgb(0, 45, 0);
}

.button {
  display: flex;
  justify-content: center;
}

.sign-in-container{
  padding-top: 20px;
}

.error-block {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.error-wrapper {
  border: darkred solid 5px;
  width: 90%;
}

.error-wrapper mat-card-subtitle {
  text-align: justify;
}

.error-icon {
color: darkred;
display: flex;
font-size: 70px;
width: 70px;
}
/* .square-green-button {
  background-color: green;
  color: #fff;
  border-radius: 2px;
  border-bottom: 2px solid #000 ;
  border-right: 3px solid #000 ;
} */

mat-error{
  text-align: end;
}
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end, 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0px !important;
} */

