:host {
    display: flex;
    justify-content: center;
    margin: 80px 0px;
  }

mat-card-title {
  padding-top: 10px;
}

.password-assistance-card {
  width: 450px;
}

body {
    filter: blur(8px);
}

.mat-form-field {
    width: 100%;
    min-width: 200px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: left;
  text-align: justify;
 }

.logo {
  display: flex;
  font-size: 100px;
  width: 100px;
}

.error-icon {
  color: darkred;
  display: flex;
  font-size: 70px;
  width: 70px;
}

.logo-placement i {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  cursor: default;
}

.error-block {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.error-wrapper {
  border: darkred solid 5px;
  width: 380px;
}

.error-wrapper mat-card-subtitle {
  text-align: justify;
}

.continue-button-block {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.continue-button {
  width: 50%;
  height: 30px; 
  line-height: inherit;
}

.confirmed-message {
  padding-top: 10px;
}